<!doctype html> {% load static %}
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Real state</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'test/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'test/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'test/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'test/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'test/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'test/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'test/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'test/css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'test/css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'test/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'test/css/slicknav.css' %}">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">

    <link rel="stylesheet" href="{% static 'test/css/style.css' %}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->

    <style>
        .my_content {
            padding-left: 50px;
            size: 20px;
            padding-top: 50px;
            align-items: center;
            height: 50%;
            width: 20%;
            float: right;
            ;
        }
    </style>
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div class="header-top_area d-none d-lg-block">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-md-5 ">
                            <div class="header_left">
                                <p>Welcome to SmartHomes</p>
                            </div>
                        </div>
                        <div class="col-xl-7 col-md-7">
                            <div class="header_right d-flex">
                                <div class="short_contact_list">
                                    <ul>
                                        <li>
                                            <a href="#"> <i class="fa fa-envelope"></i> hello@octagon.africa</a>
                                        </li>
                                        <li>
                                            <a href="#"> <i class="fa fa-phone"></i> +2348067591251, +2348080048454 </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="social_media_links">
                                    <a href="#">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        </div>
    </header>
    <!-- header-end -->
    <div style="height: 150px;"></div>

    <div>


        <div class="jumbotron text-center">
            <h1 class="display-3">OOOOPs!</h1>
            <p class="lead"><strong>You have no</strong> active subscription plan
            </p>
            <hr>
            <p>
                Having trouble? <a href="">Contact us</a>
            </p>
            <p class="lead">
                <a class="btn btn-primary btn-sm" href="{% url 'home' %}" role="button">Continue to homepage</a>
            </p>
        </div>
        <img class="my_content" style="height: 50%;" src="{% static 'test/img/empty.png' %}" alt=""></div>

    <!-- popular_property  -->
    <div class="popular_property">
        <div class="container">
            <div class="row">

            </div>
            <div class="row">
                <!-- for loop to display unit of houses max is 12 -->



                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js "></script>
                <script src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-de7e2ef6bfefd24b79a3f68b414b87b8db5b08439cac3f1012092b2290c719cd.js "></script>

                <script src=" https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js ">
                </script>
                <!-- JS here -->
                <script src="{% static 'test/js/vendor/modernizr-3.5.0.min.js' %} "></script>
                <script src="{% static 'test/js/vendor/jquery-1.12.4.min.js' %} "></script>
                <script src="{% static 'test/js/popper.min.js' %} "></script>
                <script src="{% static 'test/js/bootstrap.min.js' %} "></script>
                <script src="{% static 'test/js/owl.carousel.min.js' %} "></script>
                <script src="{% static 'test/js/isotope.pkgd.min.js' %} "></script>
                <script src="{% static 'test/js/ajax-form.js' %} "></script>
                <script src="{% static 'test/js/waypoints.min.js' %} "></script>
                <script src="{% static 'test/js/jquery.counterup.min.js' %} "></script>
                <script src="{% static 'test/js/imagesloaded.pkgd.min.js' %} "></script>
                <script src="{% static 'test/js/scrollIt.js' %} "></script>
                <script src="{% static 'test/js/jquery.scrollUp.min.js' %} "></script>
                <script src="{% static 'test/js/wow.min.js' %} "></script>
                <script src="{% static 'test/js/nice-select.min.js' %} "></script>
                <script src="{% static 'test/js/jquery.slicknav.min.js' %} "></script>
                <script src="{% static 'test/js/jquery.magnific-popup.min.js' %} "></script>
                <script src="{% static 'test/js/plugins.js' %} "></script>
                <!-- <script src="js/gijgo.min.js "></script> -->
                <script src="{% static 'test/js/slick.min.js' %} "></script>



                <!--contact js-->
                <script src="{% static 'test/js/contact.js' %} "></script>
                <script src="{% static 'test/js/jquery.ajaxchimp.min.js' %} "></script>
                <script src="{% static 'test/js/jquery.form.js' %} "></script>
                <script src="{% static 'test/js/jquery.validate.min.js' %} "></script>
                <script src="{% static 'test/js/mail-script.js' %} "></script>


                <script src="{% static 'test/js/main.js' %} "></script>

</body>

</html>